div.page div.block-info
{
    position:relative;
    float: right;
    margin: 2px;
    width: 300px;
}

div.page div.block-info table
{
    width: 100% !important;
}

div.page div.block-info table tbody
{
    width: 100% !important;
}